:host {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px 20px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
  }

}